{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Se connecter</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">
    
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Se connecter</h2>
                        <form method="POST" action="{% url 'register_etd' %}">
							{% csrf_token %}
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                {{form.username}}
								
                            </div>
							<div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                {{form.nom}}
								
                            </div>
							<div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                {{form.prenom}}
								
                            </div>
							<div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                {{form.email}}
                            </div>
							<div class="form-group">
                                <label for="email"><i class="zmdi zmdi-home"></i></label>
                                {{form.groupe}}
                            </div>
							<div class="form-group">
                                <label for="email"><i class="zmdi zmdi-home"></i></label>
                                {{form.section}}
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                {{form.password1}}
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                {{form.password2}} 
                            </div>
                            
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                        {{form.errors}}
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'images/signin-image.jpg'%}" alt="sing up image"></figure>
                        <a href="{%url 'loginetd'%}" class="signup-image-link">Vous etes deja inscrit?</a>
						<br>
						<a href="{%url 'register'%}" class="signup-image-link">Changer de type d'utilisateur</a>
                    </div>
                </div>
            </div>
        </section>

    

    </div>

    <!-- JS -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src={% static 'js/main.js' %}></script>
	<script>
	
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Nom d utilisateur..';
		form_fields[2].placeholder='Nom..';
		form_fields[3].placeholder='Prenom...';
		form_fields[4].placeholder='adresse E-mail...';
		form_fields[5].placeholder='Groupe...';
		form_fields[6].placeholder='Mot de passe...';
		form_fields[7].placeholder='Repetez votre mot de passe...';

		for (var field in form_fields){	
		form_fields[field].className += ' form-control'
		}
	</script>
</body>
</html>