{% load static %}
<style>
    input, select {
        width: 100%;
        padding: 8px 8px;
        margin-left: 100%;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right:0;
      }
</style>
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Plus Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css'%}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'assets/vendors/select2/select2.min.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css'%}" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'assets/css/demo_1/style.css'%}" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png'%}" />
  </head>
  <body>
    <div class="container-scroller">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas offcanvas-fixed " id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile border-bottom">
              <a href={% url 'accueiladmin' %} class="nav-link flex-column">
                <div class="nav-profile-text d-flex ml-0 mb-3 flex-column">
                  <br>
                  <figure ><img style="width:100%;margin-left:0"src="{% static 'images/logo.PNG'%}" alt="sing up image"></figure>
                </div>
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href={% url 'accueiladmin' %}>
                <i class="mdi mdi-compass-outline menu-icon"></i>
                <span class="menu-title">Accueil</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="mdi mdi-contacts menu-icon"></i> 
                <span class="menu-title">Gestion des comptes</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href={% url 'gestionetd' %}>Etudiants</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href={% url 'gestionens' %}>Enseignants</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href={% url 'register_admin' %}>Créer un nouvel admin</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'directs' user.username%}" >
                <i class="mdi mdi-email-variant menu-icon"></i>
                <span class="menu-title"> Messagerie</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'logout'%}" >
                <i class="mdi mdi-logout menu-icon"></i>
                <span class="menu-title">Se déconnecter</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- partial -->
          <!-- partial:partials/_navbar.html -->
          <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
              <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="mdi mdi-chevron-double-left"></span>
              </button>
              
              
              <ul class="navbar-nav navbar-nav-right">
                
                <li class="nav-item nav-profile dropdown d-none d-md-block">
                  <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                    <div class="nav-profile-text">English </div>
                  </a>
                  <div class="dropdown-menu center navbar-dropdown" aria-labelledby="profileDropdown">
                    <a class="dropdown-item" href="#">
                      <i class="flag-icon flag-icon-bl mr-3"></i> French </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                      <i class="flag-icon flag-icon-cn mr-3"></i> Chinese </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                      <i class="flag-icon flag-icon-de mr-3"></i> German </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                      <i class="flag-icon flag-icon-ru mr-3"></i>Russian </a>
                  </div>
                </li>
  
  
                <li class="nav-item nav-logout d-none d-lg-block">
                  <li class="nav-item dropdown">
                    <a class="nav-link" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                      <i class="mdi mdi-account-outline"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                      <h6 class="p-3 mb-0 font-weight-semibold">Profile Utilisateur</h6>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item preview-item">
                        <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                          <p class="text-gray mb-0"> Nom d'utilisateur </p>
                          <h6 class="preview-subject ellipsis mb-1 font-weight-normal">{{user.username}}</h6>
                          
                        </div>
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item preview-item">
                        <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                          <p class="text-gray mb-0"> Nom  </p>
                          <h6 class="preview-subject ellipsis mb-1 font-weight-normal">{{user.nom}} {{user.prenom}}</h6>
                          
                        </div>
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item preview-item">
                        <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                          <p class="text-gray mb-0"> Email </p>
                          <h6 class="preview-subject ellipsis mb-1 font-weight-normal">{{user.email}}</h6>
                          
                        </div>
                      </a>
                      <br>
                      <center><a type="button" class="btn btn-info">Modifier le compte</a></center>
                      <br>
                  
                      
                </li>
              </ul>
              <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
              </button>
            </div>
          </nav>
        <!-- partial -->
        <div class="main-panel">
          <br><br>
          <form method="POST">
            {% csrf_token %} 
            <div class="row">
              <div class="col-md-6 grid-margin stretch-card" style="margin-left:220px;">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Modifier Information Etudiant</h4>
                    <form class="forms-sample">
                      <div class="form-group row">
                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Nom d'utilisateur</label>
                        <div class="col-sm-9">
                          {{form.username}} 
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            {{form.email}} 
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="exampleInputMobile" class="col-sm-3 col-form-label">Nom</label>
                        <div class="col-sm-9">
                            {{form.nom}} 
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Prenom</label>
                        <div class="col-sm-9">
                            {{form.prenom}} 
                        </div>
                      </div>
                      
                      <button type="submit" class="btn btn-primary mr-2"> Modifier </button>
                      <a type="button" href={% url 'gestionetd' %} class="btn btn-light">Annuler</button>
                    </form>
                  </div>
                </div>
              </div>
              
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'assets/vendors/select2/select2.min.js' %}"></script>
    <script src="{% static 'assets/vendors/typeahead.js/typeahead.bundle.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'assets/js/off-canvas.js' %}"></script>
    <script src="{% static 'assets/js/hoverable-collapse.js'%}"></script>
    <script src="{% static 'assets/js/misc.js'%}"></script>
    <script src="{% static 'assets/js/settings.js'%}"></script>
    <script src="{% static 'assets/js/todolist.js'%}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'assets/js/file-upload.js'%}"></script>
    <script src="{% static 'assets/js/typeahead.js'%}"></script>
    <script src="{% static 'assets/js/select2.js'%}"></script>
    <!-- End custom js for this page -->
  </body>
</html>